{% extends 'layout_logined.html' %}
{% load static %}
{% block title %}
<title>课堂派</title>
{% endblock %}

{% block content %}
     <div class="container px-4 text-center" style="width: 80%;">
        <div class="card" style="margin-top: 4%">
            <div class="card-body" style="">
                <p style="font-weight: bolder;font-size: x-large;color: #1a1e21;text-align: left">{{ assignment.title }}</p>
                <hr>
                <div style="text-align: left">
                    <div style="display: inline-block;border: #3b82f6 1px solid;color:#3b82f6;background: #b6d4fe;padding: 2px;border-radius: 5px">{{ assignment.get_type_display }}</div>
                    <div style="display: inline-block;border: #3b82f6 1px solid;color:#3b82f6;background: #b6d4fe;padding: 2px;border-radius: 5px"> 提交截至时间：{{ assignment.due_date }}</div>
                </div>
                <div style="margin-top: 2%;border: #babbbc solid 1px;border-radius: 8px;text-align: left">

                    <div class="row mb-3" style="">
                        <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm" >
                            <a href="{% url 'download_file' submission.id %}"><img src="{% static 'img/file-earmark-arrow-down.svg' %}" style="object-fit: cover;width: 100%;height: 100%" alt="">
                            </a>
                        </label>
                        <div class="col-sm-10">
                            <p style="margin: 0">{{ submission.filepath }}</p>
                            <a href="{% url 'download_file' submission.id %}">下载</a></div>
                    </div>
                </div>
{#                todo 实现作业文件预览 #}
{#                <iframe src="https://view.officeapps.live.com/op/embed.aspx?src={% static 'assignment/课堂派-软件设计文档.docx' %}" #}
{#        width="100%" height="600px" frameborder="0"></iframe>#}
                
            </div>
        </div>
        <div style="width: 80%">
            <h3>提交作业</h3>
            <form method="post" >
                {% csrf_token %}
                <button>提交修改</button>
                <input type="number" name="grade" placeholder="评分">
                <div class="input-group" style="margin-top: 1%;height: 120px">
                    
                    <span class="input-group-text">老师评语（选填）</span>
                    <textarea class="form-control" aria-label="With textarea" name="feedback"></textarea>
                </div>
            </form>


        </div>
    </div>
{% endblock %}





{% block js %}
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'css/bootstrap.min.css' %}"></script>
{% endblock %}