{% extends 'layout_logined.html' %}
{% load static %}
{% block title %}
<title>课堂派-教师端</title>
{% endblock %}
{% block navbar %}
     <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">我的课堂</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">备课区</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">虚拟教研室</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">其他</a>
        </li>
 {% endblock %}
{% block content %}
{#<button onclick="window.location.href='/create_course/{{ user.account }}'">创建课程</button>#}
    <form  method="post" class="bg-white p-8 rounded shadow-md">
            {% csrf_token %}
            <button type="submit" class="bg-blue-500 p-2 rounded hover:bg-blue-600" >创建课程</button>
        </form>

    <div class="container overflow-hidden text-center" style="border: #0f5132 solid 2px; width: 80%">
        {#        <div> </div>#}
        <div class="row gy-5" style="border: red solid 0px" >
            {% for obj in courses %}
                   <div class="col-4" style="border: #0dcaf0 solid 2px">
                    <div class="card" style="width: 94%; ">
                        <a href="{% url 'course_detail_teacher' obj.id user.account %}" style="text-decoration: none; text-align: left; color:#eee;margin-bottom: 0; pointer-events: none;">
                        <div style="pointer-events: auto; background-image: url('//assets.ketangpai.com/theme/min/01.jpg'); background-size: cover; opacity: 0.8;">
                            <p style="margin-left: 6%;padding-top:2% ">{{ obj.get_year_display }}学年第{{ obj.term }}学期</p>
                            <h3 style="margin-left: 8%">{{ obj.name }}</h3>
                            <p style="margin-left: 6%;margin-bottom: 2%;">{{ obj.course_class }}</p>
                            <p style="padding-bottom: 2%;margin-left: 6%">课堂码：{{ obj.id }}</p>
                        </div>
                            </a>
                        <div class="card-body" style="color: #888; text-align: left;display: inline-block">
{#                            老师的姓名导入#}
                            <h5 class="card-title" style="padding-top: 0;margin-top: -5%;display: inline-block">负责人：</h5>
{#                            以后实现置顶/取消置顶及更多 以下两个元素均为div+js实现 #}
{#                            <a class="card-text" style="display: inline-block">置顶</a>#}
{#                            <span>更多</span>#}
                        </div>
                    </div>

            </div>
                {% endfor %}
            <div class="col-4" style="border: #0dcaf0 solid 2px">
                    <div class="card" style="width: 94%; ">
                        <a href="#" style="text-decoration: none; text-align: left; color:#eee;margin-bottom: 0; pointer-events: none;">
                        <div style="pointer-events: auto; background-image: url('//assets.ketangpai.com/theme/min/01.jpg'); background-size: cover; opacity: 0.8;">
                            <p style="margin-left: 6%;padding-top:2% ">2024-2025学年第2学期</p>
                            <h3 style="margin-left: 8%">开源软件杯</h3>
                            <p style="margin-left: 6%;margin-bottom: 2%;">班级</p>
                            <p style="padding-bottom: 2%;margin-left: 6%">课堂码：1</p>
                        </div>
                            </a>
                        <div class="card-body" style="color: #888; text-align: left;display: inline-block">
                            <h5 class="card-title" style="padding-top: 0;margin-top: -5%;display: inline-block">主讲：张扬</h5>
{#                            以后实现置顶/取消置顶及更多 以下两个元素均为div+js实现 #}
{#                            <a class="card-text" style="display: inline-block">置顶</a>#}
{#                            <span>更多</span>#}
                        </div>
                    </div>

            </div>


        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'css/bootstrap.min.css' %}"></script>
{% endblock %}